import(Formula)

importFrom(Matrix,bdiag)
importFrom("stats", coef, lm, model.frame, model.matrix,
           na.omit, optim, pnorm, printCoefmat, sd, update)

export("moult", "date2days", "ms2pfmg", "predict.moult") 

S3method("print", "moult")
S3method("predict", "moult")
S3method("summary", "moult")
S3method("logLik", "moult")
S3method("vcov", "moult")
S3method("print", "summary.moult")
S3method("coef", "moult")

